.default-layout {
  display: grid;
  grid-template-rows: 80px auto 3rem;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  margin-bottom: 35.5rem !important;
}

footer {
  grid-area: footer;
  background: black;
  padding: 1rem;
  color: white;
}
